MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/lean_menuiserie?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_min_32_chars
ADMIN_EMAIL=admin@votreentreprise.tn
ADMIN_PASSWORD=VotreMotDePasse!
PORT=5000
